name: ci

on:
  push:
    tags:
      - '*'
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: 1.24.12

      - name: Get deps
        run: go mod tidy

      - name: Test
        run: go test ./...

  build:
    name: Build
    runs-on: ubuntu-latest
    needs: test
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: 1.24.12

      - name: Get deps
        run: go mod tidy

      - name: Build Linux(amd64)
        run: GOOS=linux GOARCH=amd64 make

      - name: Build Windows(amd64)
        run: GOOS=windows GOARCH=amd64 make

      - name: Build Darwin(amd64)
        run: GOOS=darwin GOARCH=amd64 make

      - name: Build Darwin(arm64)
        run: GOOS=darwin GOARCH=arm64 make

      - name: Build Linux(arm64)
        run: GOOS=linux GOARCH=arm64 make

      - name: Upload artifacts
        uses: actions/upload-artifact@v6
        with:
          path: dist/emit-*
          retention-days: 1

  release:
    name: Release
    needs: build
    if: startsWith(github.ref, 'refs/tags/')
    runs-on: ubuntu-latest
    steps:
      - name: Download artifacts
        uses: actions/download-artifact@v6
        with:
          path: dist

      - name: Release
        uses: ncipollo/release-action@v1
        with:
          artifacts: dist/emit-*
